{% extends "base.html" %}
{% load easy_mask %}

{% block content %}
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h2>Obrigado por se inscrever no Eventex!</h2>
        <div>
            <p>Estes foram os dados que você nos forneceu em sua inscrição:</p>

            <ul>
                <li>Nome: {{ subscription.name }}</li>
                <li>CPF: {{ subscription.cpf|cpf }}</li>
                <li>Email: {{ subscription.email }}</li>
                <li>Telefone: {{ subscription.phone }}</li>
            </ul>

            <p>Em até 48 horas úteis, a nossa equipe entrará em contato com você para concluirmos a sua matrícula.</p>

            <p>Equipe <a href="{% url 'core:home' %}">Eventex</a></p>
            
        </div>
    </div>
</section>
{% endblock content %}
