{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Eventex</title>		
		<!-- Meta Description -->
        <meta name="description" content="Eventex">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
		
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
		
		<!-- CSS
		================================================== -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/slit-slider.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<!-- Style Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

		<!-- Modernizer Script for old Browsers -->
        <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>
		<!-- end preloader -->

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body">Eventex</a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#about">Conferência</a></li>
                        <li><a href="#sponsor">Patrocinadores</a></li>
                        <!-- <li><a href="#portfolio">Eventos</a></li> -->
                        <li><a href="#testimonials">Depoimentos</a></li>
                        <!-- <li><a href="#price">Preço</a></li> -->
                        <li><a href="#contact">Contato</a></li>
                        <li><a href="#google-map">Local</a></li>
                        <li><a href="#footer">Inscrição</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
		
		<main class="site-content" role="main">
		
        <!--
        Home Slider
        ==================================== -->
		
		<section id="home-slider">
            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

						<div class="bg-img bg-img-0"></div>

						<div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown">Bem vindo ao Eventex!</h2>
                                <span class="animated fadeInDown">Prazer em conhecê-lo</span>
                                <a href="{% url 'subscribe' %}" class="btn btn-blue btn-effect">Junte-se a nós</a>
                            </div>
                        </div>
						
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
					
						<div class="bg-img bg-img-1"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2>Eventex</h2>
                                <span>Conheça os maiores eventos do Brasil</span>
                                <a href="{% url 'subscribe' %}" class="btn btn-blue btn-effect">Junte-se a nós</a>
                            </div>
                        </div>
						
					</div>
					
                    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                        
                        <div class="bg-img bg-img-2"></div>
                        <div class="slide-caption">
                            <div class="caption-content">
                                <h2>Supreenda-se</h2>
                                <span>Surpreenda-se com nossas instalações.</span>
                                <a href="{% url 'subscribe' %}" class="btn btn-blue btn-effect">Junte-se a nós</a>
                            </div>
                        </div>

                    </div>

                    <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                        
                        <div class="bg-img bg-img-3"></div>
                        <div class="slide-caption">
                            <div class="caption-content">
                                <h2>Ambientes para todos os gostos</h2>
                                <span>Temos salas equipadas com todos os recursos tecnológicos.</span>
                                <a href="{% url 'subscribe' %}" class="btn btn-blue btn-effect">Junte-se a nós</a>
                            </div>
                        </div>

                    </div>

                    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                        
                        <div class="bg-img bg-img-4"></div>
                        <div class="slide-caption">
                            <div class="caption-content">
                                <h2>Sinta-se em casa</h2>
                                <span>Queremos que você se sinta em casa, totalmente confortável.</span>
                                <a href="{% url 'subscribe' %}" class="btn btn-blue btn-effect">Junte-se a nós</a>
                            </div>
                        </div>

                    </div>

					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						
						<div class="bg-img bg-img-5"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2>Você Satisfeito</h2>
                                <span>Nós sempre nos preocupamos com você</span>
                                <a href="{% url 'subscribe' %}" class="btn btn-blue btn-effect">Junte-se a nós</a>
                            </div>
                        </div>

					</div>

				</div><!-- /sl-slider -->

                <!-- 
                <nav id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev">Previous</span>
                    <span class="nav-arrow-next">Next</span>
                </nav>
                -->
                
                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a href="javascript:;" class="sl-prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a href="javascript:;" class="sl-next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>
                

				<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->
		</section>
		
        <!--
        End Home SliderEnd
        ==================================== -->
			
			<!-- about section -->
			<section id="about" >
				<div class="container">
					<div class="row">
						<div class="col-md-4 wow animated fadeInLeft">
							<div class="recent-works">
								<h3>Eventos recentes</h3>
								<div id="works">
									<div class="work-item">
										<p>Já na sua 11ª edição, a Python Brasil 2015 é o maior evento da comunidade Python com tutoriais, palestras e Lightning Talks. Este ano realizado em São José dos Campos - SP.</p>
									</div>
									<div class="work-item">
										<p>PyLadies-SP é um evento exclusivo para mulheres. O evento incentiva a inserção de mulheres no mundo da tecnologia com tutoriais de Python gratuito para todas.</p>
									</div>
									<div class="work-item">
										<p>O Python Day foi o último evento do ano realizado pelo Grupy-SP. Um dia inteiro de palestras e Lightning Talks sobre Python e suas influências.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
							<div class="welcome-block">
								<h3>A conferência</h3>								
						     	 <div>
									<!-- <img src="" class="pull-left" alt="member"> -->
						       		<p>A maior reunião de hackers do mundo.
                                    Reunindo profissionais e entusiastas dos quatro cantos do planeta,
                                    o Eventex é o lugar onde você precisa estar.</p>
						     	 </div>
						       	<a href="{% url 'subscribe' %}" class="btn btn-border btn-effect pull-right">Garanta sua vaga!</a>
						    </div>
						</div>
					</div>
				</div>
			</section>
            <!-- end about section -->

			<!-- sponsor section -->
            <section id="sponsor">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="sec-title text-center">
                            <h2 class="wow animated bounceInRight">Patrocinadores</h2>
                        </div>
                        <h2 class="wow animated bounceInLeft">Gold</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="owl-carousel">
                            <div class="item">
                                <div class="partner-logo wow animated zoomIn">
                                    <img src="{% static 'img/partners/sponsor-gold-04.png' %}" alt="partners">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner-logo wow animated zoomIn" data-wow-delay="0.3s">
                                    <img src="{% static 'img/partners/sponsor-gold-01.png' %}" alt="partners">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner-logo wow animated zoomIn" data-wow-delay="0.6s">
                                    <img src="{% static 'img/partners/sponsor-gold-02.png' %}" alt="partners">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner-logo wow animated zoomIn" data-wow-delay="0.9s">
                                    <img src="{% static 'img/partners/sponsor-gold-03.png' %}" alt="partners">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner-logo wow animated zoomIn" data-wow-delay="1.2s">
                                    <img src="{% static 'img/partners/sponsor-silver-06.png' %}" alt="partners">
                                </div>
                            </div>
                        </div>
                        <h2 class="wow animated bounceInRight">Silver</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="owl-carousel">
                            <div class="item">
                                <div class="partner-logo wow animated zoomIn">
                                    <img src="{% static 'img/partners/sponsor-silver-01.png' %}" alt="partners">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner-logo wow animated zoomIn" data-wow-delay="0.3s">
                                    <img src="{% static 'img/partners/sponsor-silver-02.png' %}" alt="partners">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner-logo wow animated zoomIn" data-wow-delay="0.6s">
                                    <img src="{% static 'img/partners/sponsor-silver-03.png' %}" alt="partners">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner-logo wow animated zoomIn" data-wow-delay="0.9s">
                                    <img src="{% static 'img/partners/sponsor-silver-04.png' %}" alt="partners">
                                </div>
                            </div>
                            <div class="item">
                                <div class="partner-logo wow animated zoomIn" data-wow-delay="1.2s">
                                    <img src="{% static 'img/partners/sponsor-silver-05.png' %}" alt="partners">
                                </div>
                            </div>
                        </div>
                        <h2 class="wow animated zoomIn">Seja você também um patrocinador!</h2>
                        <p class="wow animated zoomIn" data-wow-delay="0.3s">Interessado? Descubra as oportunidades e benefícios.</p>
                        <a href="#contact" class="btn btn-blue btn-effect">Informe-se</a>
                    </div>
                </div>
            </div>
        </section>

			
			<!-- Service section -->
			<!-- <section id="service">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center">
							<h2 class="wow animated bounceInLeft">Serviços</h2>
							<p class="wow animated bounceInRight">The Key Features of our Job</p>
						</div>
						
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-home fa-3x"></i>
								</div>
								<h3>Support</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-tasks fa-3x"></i>
								</div>
								<h3>Well Documented</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-clock-o fa-3x"></i>
								</div>
								<h3>Design UI/UX</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
							</div>
						</div>
					
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-heart fa-3x"></i>
								</div>
								
								<h3>Web Security</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>							
							</div>
						</div>
						
					</div>
				</div>
			</section> -->
			<!-- end Service section -->
			
			<!-- portfolio section -->
			<!-- <section id="portfolio">
				<div class="container">
					<div class="row">
						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
								<img src="{% static 'img/portfolio/item.jpg' %}" class="img-responsive" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
								<figcaption class="mask">
									<h3>Wall street</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Araund The world" data-fancybox-group="works" href="{% static 'img/portfolio/item.jpg' %}"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="{% static 'img/portfolio/item2.jpg' %}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									<h3>Wall street</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Wall street" href="{% static 'img/slider/banner.jpg' %}" data-fancybox-group="works" ><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="{% static 'img/portfolio/item3.jpg' %}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									<h3>Wall street</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Behind The world" data-fancybox-group="works" href="{% static 'img/portfolio/item3.jpg' %}"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="{% static 'img/portfolio/item4.jpg' %}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.">
								<figcaption class="mask">
									<h3>Wall street</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Wall street 4" data-fancybox-group="works" href="{% static 'img/portfolio/item4.jpg' %}"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="{% static 'img/portfolio/item5.jpg' %}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									<h3>Wall street</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Wall street 5" data-fancybox-group="works" href="{% static 'img/portfolio/item5.jpg' %}"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="{% static 'img/portfolio/item6.jpg' %}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									<h3>Wall street</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Wall street 6" data-fancybox-group="works" href="{% static 'img/portfolio/item6.jpg' %}"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
						</ul>
						
					</div>
				</div>
			</section> -->
			<!-- end portfolio section -->
			
			<!-- Testimonial section -->
			<section id="testimonials" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
						
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>O que as pessoas dizem</h2>
							</div>
							
							<div id="testimonial" class=" wow animated fadeInUp">
								<div class="testimonial-item text-center">
									<!-- <img src="" alt="Our Clients"> -->
									<div class="clearfix">
										<span>Regis da Silva</span>
										<p>A comunidade Python é a mais receptiva do Brasil.</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<!-- <img src="" alt="Our Clients"> -->
									<div class="clearfix">
										<span>Marcos Paulo</span>
										<p>Comentei na palestra com o pessoal, que a #pybr11 foi excelente, de altíssimo nível técnico.</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<!-- <img src="" alt="Our Clients"> -->
									<div class="clearfix">
										<span>Grupy-SP</span>
										<p>Nosso encontro de ontem foi um sucesso! Mais de 50 pessoas, 10 mini-palestras e trocas de informações.</p>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>
			<!-- end Testimonial section -->
			
			<!-- Price section -->
			<!-- <section id="price">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Preço</h2>
							<p>Our price for your company</p>
						</div>
						
						<div class="col-md-4 wow animated fadeInUp">
							<div class="price-table text-center">
								<span>Estudante</span>
								<div class="value">
									<span>R$</span>
									<span>75,00</span><br>
								</div>
								<ul>
                                    <li>Apostila + Certificado</li>
                                    <li>Coffee Break</li>
                                    <li>Almoço</li>
                                    <li>Camiseta</li>
                                    <li><a href="#">Comprar</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
                            <div class="price-table featured text-center">
                                <span>Prata</span>
                                <div class="value">
                                    <span>R$</span>
                                    <span>150,00</span><br>
                                </div>
                                <ul>
                                    <li>Fretado</li>
                                    <li>Apostila + Certificado</li>
                                    <li>Coffee Break</li>
                                    <li>Almoço</li>
                                    <li><a href="#">Comprar</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
                            <div class="price-table text-center">
                                <span>Ouro</span>
                                <div class="value">
                                    <span>R$</span>
                                    <span>250,00</span><br>
                                </div>
                                <ul>
                                    <li>Fretado</li>
                                    <li>Apostila + Certificado</li>
                                    <li>Coffee Break + Almoço</li>
									<li>Mezanino*</li>
									<li><a href="#">Comprar</a></li>
								</ul>
							</div>
						</div>
		
					</div>
				</div>
			</section> -->
			<!-- end Price section -->
			
			<!-- Social section -->
			<section id="social" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">
						
							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>Siga-nos</h2>
								<p>Siga-nos nas redes sociais e compartilhe</p>
							</div>
							
							<ul class="social-button">
								<li class="wow animated zoomIn"><a href="https://www.facebook.com"><i class="fa fa-facebook fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.twitter.com/wttdbr"><i class="fa fa-twitter fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://www.instagram.com/"><i class="fa fa-instagram fa-2x"></i></a></li>							
							</ul>
							
						</div>
					</div>
				</div>
			</section>
			<!-- end Social section -->
			
			<!-- Contact section -->
			<section id="contact" >
				<div class="container">
					<div class="row">
						
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Contato</h2>
							<p>Envie uma Mensagem</p>
						</div>
						
						
						<div class="col-md-7 contact-form wow animated fadeInLeft">
							<!-- <form action="." method="post"> -->
								<div class="input-field">
									<input type="text" name="name" class="form-control" placeholder="Seu Nome...">
								</div>
								<div class="input-field">
									<input type="email" name="email" class="form-control" placeholder="Seu Email...">
								</div>
								<div class="input-field">
									<input type="text" name="subject" class="form-control" placeholder="Assunto...">
								</div>
								<div class="input-field">
									<textarea name="message" class="form-control" placeholder="Mensagem..."></textarea>
								</div>
						       	<button type="submit" id="submit" class="btn btn-blue btn-effect" data-toggle="modal" data-target="#myModalMessage">Enviar</button>
							<!-- </form> -->
						</div>
						
						<div class="col-md-5 wow animated fadeInRight">
							<address class="contact-details">
								<h3>Nosso Contato</h3>						
								<p><i class="fa fa-pencil"></i>Eventex Brasil Ltda.<span>CEP 02356-780</span> <span>Rua Um, S/N</span><span>Brasil</span></p><br>
								<p><i class="fa fa-phone"></i>11 91234-5678</p>
								<p><i class="fa fa-envelope"></i>eventex@eventex.com.br</p>
							</address>
						</div>
			
					</div>
				</div>
			</section>
			<!-- end Contact section -->
			
			<section id="google-map">
                <div class="col-md-8">
					<div id="map-canvas"></div>
				</div>
                <div class="row">
                    <div class="col-md-4">
                    	<h2 class="wow animated fadeInRight">Bar Samba Caffé</h2>
                    	<p class="wow animated fadeInRight" data-wow-delay="0.3s">Melhor que qualquer centro de convenções.</p>
                        <p class="wow animated fadeInRight" data-wow-delay="0.6s">
                            <i class="fa fa-2x fa-map-marker"></i>
                            Rua do Ouvidor 23, Centro<br>
                                Rio de Janeiro, RJ
                            </p>
                    </div>
                </div>
			</section>
		
		</main>
		
		<footer id="footer">
			<div class="row text-center">
				<div class="footer-content">
					<div class="wow animated fadeInDown">
						<!-- <p>Inscrição</p> -->
						<!-- <p>Receba notícias sobre os próximos eventos!</p> -->
					</div>
                    <a href="{% url 'subscribe' %}" class="btn btn-blue btn-effect">Inscrição</a>
					<!-- <form action="." method="POST" class="subscribe-form wow animated fadeInUp">
						<div class="input-field">
							{% csrf_token %}
                            <input name="from_email" type="email" class="subscribe form-control" placeholder="Seu Email..."> -->
                            <!-- Button trigger modal -->
                            <!-- <button type="submit" class="submit-icon" data-toggle="modal" data-target="#myModal">
                                <i class="fa fa-paper-plane fa-lg"></i>
                            </button>
                        </div>
                    </form> -->
					<div class="footer-social">
						<ul>
							<li class="wow animated zoomIn"><a href="https://www.facebook.com"><i class="fa fa-facebook fa-3x"></i></a></li>
							<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a></li>
							<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://www.instagram.com/"><i class="fa fa-instagram fa-3x"></i></a></li>
							<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="https://www.pinterest.com"><i class="fa fa-pinterest fa-3x"></i></a></li>
							<li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="https://slack.com/"><i class="fa fa-slack fa-3x"></i></a></li>
							<li class="wow animated zoomIn" data-wow-delay="1.5s"><a href="http://www.youtube.com"><i class="fa fa-youtube fa-3x"></i></a></li>
						</ul>
					</div>
					
					<p>Copyright &copy; 2015-2016 Design and Developed By <a href="#">Eventex</a> </p>
				</div>
			</div>
		</footer>

    <!-- Modal Message -->
    <div class="modal fade" id="myModalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabelMessage">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Eventex.</h4>
          </div>
          <div class="modal-body">
            <p>O envio de mensagens está temporariamente desativado.</p>
            <p>Desculpe o transtorno.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Subscribe -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Bem vindo ao Eventex.</h4>
          </div>
          <div class="modal-body">
            <p>Inscrição realizada com sucesso.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>


		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Single Page Nav -->
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<!-- Google Map API -->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Owl Carousel -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- jquery easing -->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Fullscreen slider -->
        <script src="{% static 'js/jquery.slitslider.js' %}"></script>
        <script src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
		<!-- onscroll animation -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!-- Custom Functions -->
        <script src="{% static 'js/main.js' %}"></script>
        <!-- Custom Functions -->
        <script src="{% static 'js/theme-scripts.js' %}"></script>
    </body>
</html>