<div class="header-frame row">
    <header class="header header-inline min-h-3 row desktop-12 container" role="banner">

        <div class="site-logo">
            <h1><a href="{% url 'core:home' %}" rel="home">Eventex</h1>
            <p class="site-description screen-reader-only">O maior encontro hacker do mundo!</p>
        </div>

        <nav class="nav-inline" role="navigation">
            <a href="javascript:void(0);" class="nav-mobile"><i class="fa fa-bars"></i></a>
            <ul>
                <li><a data-scroll href="/#about">Conferência</a></li>
                <li><a data-scroll href="/#sponsor">Patrocinadores</a></li>
                <li><a data-scroll href="/#contact">Contato</a></li>
                <li><a data-scroll href="/#google-map">Local</a></li>
                <li><a data-scroll href="{% url 'subscriptions:new' %}">Inscrição</a></li>
            </ul>
        </nav>

    </header>
</div>
